#tantrum {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#content {
	text-align: center;
}

header {
	font-weight: 600;
	font-family: Segoe UI;
	font-size: 200%;
	color: #fff;
	background-color: #697079
}

ul {
	list-style-type: none;
	margin-left: -40px;
}

li {
	display: inline;
	list-style-type: none;
	padding-top: 6px;
	display: inline-block;
	width: 150px;
	height: 25px;
	margin-top: 5px;
	font-size: 16px;
	font-family: 'Open Sans';
	text-align: center;
	background-color: #697079;
	-moz-transition: 0.2s;
}

li:hover {
	background-color: #596069;
	-moz-transition: 0.2s;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #eee;
}

#google {
    z-index: 3000;
    position: relative;
    margin: auto;
    width: 700px;
    margin-bottom: 15px;
}

.googlebox {
    width: 500px;
    padding: 15px;
    font-family: "Tahoma";
    font-size: 24px;
    color: #666;
    background-color: #E2E2E2;
    border-style: none;
}